{% extends 'FrontOfficeBundle::layout.html.twig' %}

{% block body -%}
    <h1>Commande list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idclient</th>
                <th>Idlivraison</th>
                <th>Idcommande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': entity.idCommande }) }}">{{ entity.idClient }}</a></td>
                <td>{{ entity.idLivraison }}</td>
                <td>{{ entity.idCommande }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('commande_show', { 'id': entity.idCommande }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('commande_edit', { 'id': entity.idCommande }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('commande_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
