{% extends 'layout.html.twig' %}

{% block body -%}
    <h1>Commande</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idclient</th>
                <td>{{ entity.idClient }}</td>
            </tr>
            <tr>
                <th>Idlivraison</th>
                <td>{{ entity.idLivraison }}</td>
            </tr>
            <tr>
                <th>Idcommande</th>
                <td>{{ entity.idCommande }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('commande') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('commande_edit', { 'id': entity.idCommande }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
