{% extends 'BackOfficeBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Packpub list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Packpub</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('packpub_show', { 'id': entity.packpub }) }}">{{ entity.packpub }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('packpub_show', { 'id': entity.packpub }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('packpub_edit', { 'id': entity.packpub }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('packpub_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
