{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Packpub</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Packpub</th>
                <td>{{ entity.packpub }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('packpub') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('packpub_edit', { 'id': entity.packpub }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
