{% extends 'FrontOfficeBundle::layout.html.twig' %}
{% block body -%} 
      <div id="container">
    <div  id="form-cmd" class="form-horizontal" >

  
 
  
  </div>
</div >
</div >
    
    
{% endblock %}
{% block javascripts %}
    <script>
        
        
        
 var products=JSON.parse(sessionStorage.panier),html="";
 initForm();
 function initForm(){
    for (var i = 0, max = products.length; i < max; i++) {
 html+= '<div class="form-group" id="'+products[i].id+'"><label class="control-label col-sm-2" for="prod_'+products[i].id+'"><button  onclick="Supprimer('+products[i].id+')" class="btn btn-danger">-</button></label><div class="col-sm-10">'+ 
      '<input type="text" disabled class="form-control" id="prod_'+products[i].id+'" placeholder="'+products[i].libel+'    : $'+products[i].price+'"></div></div>';
    } 
    html+= '<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><button type="submit" onclick="Validate()" class="btn btn-default">Valider</button><button  onclick="Ajouter()" class="btn btn-success">+</button></div>'
    $("#form-cmd")[0].innerHTML=html;
 }
   function Supprimer(id){
     $("#"+id).slideUp();
     var index=-1;
     for (var i = 0, max = products.length; i < max; i++) {
    if (products[i].id===id) {
    index=i;
    break;
     }
     }
    
     products.splice(index,1);
     sessionStorage.panier=JSON.stringify(products);
  }
    
    
    
    
    
    
  function Validate(){
       var data = {request : products};

        $.ajax({
            type: "POST",
            url: "{{ path('user_commande') }}",
            data: data,
            success: function(data, dataType)
            {
                console.log(data);
                alert("commande ajouter pour '"+data.name+"' !!");
                location.href="{{path('front_office_homepage')}}";
            },

            error: function(XMLHttpRequest, textStatus, errorThrown)
            {
                alert('Error : ' + errorThrown);
            }
        });
  }
    function Ajouter(){
      location.href="{{path('front_office_homepage')}}";
  }
    </script>
    
    
    
    
{% endblock %}