   {% extends 'FrontOfficeBundle::layout.html.twig' %}

{% block body -%}   



    <!-- Tabs -->
      <div class="tabs">
        <ul>
            {% set  i=0 %}
            {% for c in categories %}
                {% if  i==0%}
          <li><a href="#" class="active"><span>{{ c }}</span></a></li>
              {%else%}
          <li><a href="#"><span>{{ c }}</span></a></li>
                {%endif%}
          {% endfor %}
        </ul>
      </div>
      <!-- Tabs -->
      <!-- Container -->
      <div id="container">
            
        <div class="tabbed">
         {% for c in categories %}
          <div class="tab-content" style="display:block;">
            <div class="items">
              <div class="cl">&nbsp;</div>
              <ul>
                  {% set  i=0 %}
                  {% for p in produits %}
                      {% if  p.categorie == c%}
                          {% set  i=i+1 %}
                <li>
                  <div class="image"> <a href="#"><img src="{{ asset('bundles/frontoffice/css/images/image'~i~'.jpg') }}" alt="" /></a> </div>
                  <p> Item Number: <span>{{ p.reference }}</span><br />
                      Description : <span >{{ p.description | truncate(10, false) }}</span><br />
                    Brand Name: <a href="#">{{ p.libelle }}</a> </p>
                  <p class="price">Price: <strong>{{ p.prix }} USD</strong></p>
                  <button id="{{p.idproduit}}" class="btn-sm btn-success" onclick="addToPanier('{{ p.libelle }}',{{ p.idproduit }},{{ p.prix }});" style="float: right;">+</button>
                </li>
                     {% if  i == 4%}
                         {% set  i=0 %}
                    {%endif%}
                {%endif%}
              {% endfor %}
              </ul>
              <div class="cl">&nbsp;</div>
            </div>
          
          <div class="fb-comments" data-href="https://www.facebook.com/tnmallespritcmd/photos/a.1216375445041670.1073741826.1216370048375543/1216375301708351/?type=3&amp;theater" data-numposts="5"></div>
         <div class="fb-share-button" data-href="https://www.facebook.com/tnmallespritcmd/photos/a.1216375445041670.1073741826.1216370048375543/1216375301708351/?type=3&amp;theater" data-layout="button_count" data-mobile-iframe="true"></div>
          <g:plus action="share"></g:plus>

          </div>
         {% endfor %}
         
        </div>
        <!-- Brands -->
        <div class="brands">
          <h3>Brands</h3>
      </div>
        <!-- End Brands -->
        <!-- Footer -->
        <div id="footer">
          <div class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </div>
          <div class="right"> &copy; Sitename.com. Design by <a href="http://chocotemplates.com">ChocoTemplates.com</a> </div>
        </div>
        <!-- End Footer -->
      </div>
      <!-- End Container -->
 {% endblock %}
 {% block javascripts %}
     <script>
         
            if (!sessionStorage.panier) {
    var p=[];
    sessionStorage.panier=JSON.stringify(p);
         }else{
             syncPanier();
         }
         
         
         function addToPanier(libel,id,price){
             var product={
                 libel:libel,
                 id:id,
                 price:price
             };
             var panier=JSON.parse(sessionStorage.panier);
             panier.push(product);
             sessionStorage.panier=JSON.stringify(panier);
             syncPanier();
  
         }
         
     </script>
 
 
 
 {% endblock %}