{% extends 'BackOfficeBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Boutique list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Idboutique</th>
                <th>Libelleboutique</th>
                <th>Categorieboutique</th>
                <th>Descriptionboutique</th>
                <th>Imageboutique</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('boutique_show', { 'id': entity.idboutique }) }}">{{ entity.idboutique }}</a></td>
                <td>{{ entity.libelleboutique }}</td>
                <td>{{ entity.categorieboutique }}</td>
                <td>{{ entity.descriptionboutique }}</td>
                <td>{{ entity.imageboutique }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.email }}</td>
                <td>
                
                        <a href="{{ path('boutique_show', { 'id': entity.idboutique }) }}" type="button" class="btn btn-lg btn-info">Afficher</a>
                        <a href="{{ path('boutique_edit', { 'id': entity.idboutique }) }}" type="button" class="btn btn-lg btn-success">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('boutique_new') }}" type="button" class="btn btn-lg btn-primary">
Ajouter une Boutique
            </a>
        
  
    {% endblock %}
