{% extends 'BackOfficeBundle::Default/index.html.twig' %}

{% block body -%}
              <div class="panel panel-default">

     <div class="panel-heading"> <h1>Ajouter d'une Boutique </h1>
  </div>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('boutique') }}">
            retourner a la liste complete
        </a>
    </li>
</ul>
              </div>
{% endblock %}
