{% extends 'BackOfficeBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Boutique</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Idboutique</th>
                <td>{{ entity.idboutique }}</td>
            </tr>
            <tr>
                <th>Libelleboutique</th>
                <td>{{ entity.libelleboutique }}</td>
            </tr>
            <tr>
                <th>Categorieboutique</th>
                <td>{{ entity.categorieboutique }}</td>
            </tr>
            <tr>
                <th>Descriptionboutique</th>
                <td>{{ entity.descriptionboutique }}</td>
            </tr>
            <tr>
                <th>Imageboutique</th>
                <td>{{ entity.imageboutique }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('boutique') }}">
            Retourner a la liste
        </a>
    </li>
    <li>
        <a href="{{ path('boutique_edit', { 'id': entity.idboutique }) }}">
            Modifier
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
