{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Produit list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idcatalogue</th>
                <th>Idpromotion</th>
                <th>Libelle</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Tva</th>
                <th>Prix</th>
                <th>Imageprodfront</th>
                <th>Imageprodback</th>
                <th>Imageprodreel</th>
                <th>Date</th>
                <th>Categorie</th>
                <th>Idproduit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.idproduit }) }}">{{ entity.idcatalogue }}</a></td>
                <td>{{ entity.idpromotion }}</td>
                <td>{{ entity.libelle }}</td>
                <td>{{ entity.reference }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.tva }}</td>
                <td>{{ entity.prix }}</td>
                <td>{{ entity.imageprodfront }}</td>
                <td>{{ entity.imageprodback }}</td>
                <td>{{ entity.imageprodreel }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.categorie }}</td>
                <td>{{ entity.idproduit }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produit_show', { 'id': entity.idproduit }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_edit', { 'id': entity.idproduit }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
