{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Produit</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcatalogue</th>
                <td>{{ entity.idcatalogue }}</td>
            </tr>
            <tr>
                <th>Idpromotion</th>
                <td>{{ entity.idpromotion }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ entity.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ entity.tva }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ entity.prix }}</td>
            </tr>
            <tr>
                <th>Imageprodfront</th>
                <td>{{ entity.imageprodfront }}</td>
            </tr>
            <tr>
                <th>Imageprodback</th>
                <td>{{ entity.imageprodback }}</td>
            </tr>
            <tr>
                <th>Imageprodreel</th>
                <td>{{ entity.imageprodreel }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ entity.categorie }}</td>
            </tr>
            <tr>
                <th>Idproduit</th>
                <td>{{ entity.idproduit }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('produit') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('produit_edit', { 'id': entity.idproduit }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
