{% extends 'BackOfficeBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Modifier un produit</h1>

    {{ form(edit_form) }}

        <ul class="panel panel-default">
    <li>
        <a href="{{ path('produit') }}">
            revenir a la liste
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
