{% extends 'BackOfficeBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Produit creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('produit') }}" type="button" class="btn btn-lg btn-primary">
            retourner a la liste 
        </a>
    </li>
</ul>
{% endblock %}
